[submodule "src/third_party/backward-cpp"]
	path = src/third_party/backward-cpp
	url = https://github.com/bombela/backward-cpp.git
[submodule "src/third_party/googletest"]
	path = src/third_party/googletest
	url = https://github.com/google/googletest.git
